body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
<<<<<<< HEAD
    margin-right: 20%;
=======
    margin-right: 26%;
>>>>>>> a58cb4f9840c48d572dbb6b48c48c4838e3e2643
 }
